*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 10px 30px 10px 20px; /*acima direita abaixo esquerda*/
    background-color: rgb(36, 36, 36);
}

header .nome{
    width: 6.5%
}

header nav a{
    color:rgb(170, 170, 170);
    text-decoration: none;
    padding-left: 40px;
}

header nav a:hover{
    color: white;
    font-weight: bold;
}

main .capa_principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 40px 20px 70px;
    height: 650px;
    background: linear-gradient(rgba(0, 0, 0, 0.50),rgba(0,0,0,0.50)100%), url('./recursos/cidade.jpg');
    background-size: cover;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main .logo{
    width: 140px;
    height: 140px;
    margin-left: 110px;
}

main .texto_principal{
    font-weight: 500;
    font-size: 32px;
    width: 48%;
    padding-bottom: 20px;
    padding-top: 15px;
    text-align: center;
}

main .texto_secundario{
    font-weight: 350;
    font-size: 22px;
    padding-bottom: 15px;
    width: 48%;
    text-align: center;
}

main .container_direita{
    text-align: center;
}

main .texto_terciario{
    padding-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 450;
}

main .botao{
    border: none;
    border-radius: 50px;
    padding: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 450;
    cursor: pointer;
    transition: .3s ease all;
    padding-top: 15px;
}

main .botao:hover{
    background-color: white;
    color: black;
}

main .sobre{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.50),rgba(0,0,0,0.50)100%);
}

main .titulo_sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main .subtitulo_sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-top: 5px;
}

main .equipe{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

main .membro_um{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .membro_dois{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .membro_tres{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .fotos_equipe{
    border-radius: 50%;
    width: 50%;
    margin-top: 35px;
    margin-bottom: 10px;
    border: 3px solid #1155cc;
}

main .nomes_equipe{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 6px;
}

main .textos_sobre{
    font-size: 18px;
}

main .textos_sobre2{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
}

main .titulo_servicos{
    background: url('recursos/servicos.jpg');
    height: 190px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 120px;
    padding-top: 140px;
    font-weight: bold;
}

main .servicos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main .mentoria{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 3px dotted rgb(225, 225, 225);
}

main .mentoria_esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 38%;
    padding: 0px 20px 25px 20px;
}

main .titulos_secundarios{
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

main .fotos_servicos{
    width: 70%;
    border: 3px solid #1155cc;
    border-radius: 10px;
}

main .texto_mentoria{
    font-size: 20px;
    padding-top: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main .aulas{
    font-weight: 900px; /*ver pq nao ta funcionando*/
    padding-top: 10px;
}

main .mentoria_direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
}

main .vai_aprender{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main .inclui{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .fas{
    color: #1155cc;
    font-size: 40px;
}

main .textos_servicos{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 5px;
    font-size: 20px;
}

main .textos_servicos3{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 17px;
    padding-top: 15px;
    padding-left: 10px;
}

main .bonus{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main .bonus_esquerda{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main .item_bonus{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

main .inclui_bonus{
    padding: 0 25px 10px 12px;
    font-size: 18px;
}

main .bonus_direita{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main .ultimo_item_bonus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

main .analise{
    display: flex;
    flex-direction: row;
}

main .titulo_foto_analise{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 40px 80px 45px 80px;
}

main .texto_analise{
    font-size: 20px;
    padding-top: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main .analise_esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    align-items: center;
}

main .analise_direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 38%;
}

main .titulo_analise{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

main .item_analise{
    display: flex;
    flex-direction: row;
    text-align: center;
}

main .item{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 50px;
    padding-left: 40px;
}

main .consultoria{
    border-top: 3px dotted rgb(225, 225, 225);
    display: flex;
    flex-direction: row;
}

main .titulo_foto_consultoria{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 37%;
    padding: 0px 20px 25px 20px;
}

main .titulo_consultoria{
    padding-bottom: 20px;
    padding-top: 40px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

main .inclui_consultoria{
    padding-bottom: 20px;
    padding-top: 50px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    text-align: center;
}

main .colunas{
    display: flex;
    flex-direction: row;
}

main .coluna_esquerda{
    display: flex;
    flex-direction: column;
}

main .coluna_direita{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

main .texto_consultoria{
    font-size: 20px;
    padding: 10px 5px 0 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main .item_consultoria{
    display: flex;
    flex-direction: row;
}

main .consultoria_direita{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .textos_servicos2{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
}

main .titulo_duvidas{
    background: url('recursos/duvidas.jpg');
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 170px;
    padding-top: 275px;
    font-weight: bold;
}

main .duvidas{
    background: #5982b1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 300px;
}

footer .container_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 15px 18px 15px;
    background-color: rgb(36, 36, 36);
    color: rgb(170, 170, 170);
}

footer .logo_footer{
    width: 8.7%;
}

footer .conectar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

footer .titulo_contato{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

footer .instagram{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}

footer .email{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}

footer  nav .far{
    padding-left: 10px;
    font-size: 35px;
    color: #1155cc;
    cursor: pointer;
    transition: .3s ease all;
    text-decoration: none;
}

footer  nav .fab{
    padding-left: 10px;
    font-size: 35px;
    color: #1155cc;
    cursor: pointer;
    transition: .3s ease all;
    text-decoration: none;
}

footer nav a:hover{
    color: white;
    text-decoration: none;
}

footer .textos_contato{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    color: white;
}

footer .nome_footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding-top: 25px;
    color:rgb(100, 100, 100);
}

footer .frase_footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color:rgb(100, 100, 100);
}

footer .desenvolvido{
    font-size: 13px;
    padding-top: 15px;
    color: rgb(60, 60, 60);
}

footer .informacoes{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5px;
}

footer .local{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 18px;
}

footer .atendimento{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    color: white;
    font-size: 18px;
}

footer .espaco_menor{
    padding-left: 10px;
}

footer .espaco_maior{
    padding-left: 25px;
}
